{% extends 'base.html.twig' %}

{% block stylesheets %}
    {% if
        state is constant('App\\Entity\\Enum\\AppStateEnum::AdserverAccountCreated')
        or
        state is constant('App\\Entity\\Enum\\AppStateEnum::MigrationCompleted')
    %}
        {# installation #}
        {{ encore_entry_link_tags('js/installer') }}
    {% elseif state is constant('App\\Entity\\Enum\\AppStateEnum::InstallationCompleted') %}
        {# installation #}
        {{ encore_entry_link_tags('js/app') }}
    {% else %}
        {# installation #}
        {{ encore_entry_link_tags('js/accountCreator') }}
    {% endif %}

{% endblock %}

{% block javascripts %}
    {% if
        state is constant('App\\Entity\\Enum\\AppStateEnum::AdserverAccountCreated')
        or
        state is constant('App\\Entity\\Enum\\AppStateEnum::MigrationCompleted')
    %}
        {# installation #}
        {{ encore_entry_script_tags('js/installer') }}
    {% elseif state is constant('App\\Entity\\Enum\\AppStateEnum::InstallationCompleted') %}
        {# configuration #}
        {{ encore_entry_script_tags('js/app') }}
    {% else %}
        {# account creation #}
        {{ encore_entry_script_tags('js/accountCreator') }}
    {% endif %}
{% endblock %}

{% block content %}
    <div id="root"></div>
{% endblock %}
